/*Colors*/
$white: #fff;
$light1: #f9f9f9;
$light2: #f4f7f9;
$light3: #ecf1f6;
$light4: #dce1e5;
$light5: #f1f5f9;
$light6: #2c2c2c;
$black: #000;
$gray: #171a1e;
$gray2: #363738;
$gray3: #596066;
$gray4: #7e858b;
$gray5: #a1abba;
$gray6: #bcc6d6;
$blue: #3b55f7;
$blue2: #001e7e;
$blue3: #00175f;
$blue4: #1b3999;
$red: #d00c27;
$pink: #ff696a;
$green: #3bc34b;
$bord: #dfdfdf;
$bord2: #efefef;


/*Styles*/
$font-family: 'ProximaNova', sans-serif;
